In [21]:
import pandas as pd
import numpy as np

df_C = pd.read_csv('b-co.csv', sep='|', encoding='cp1252', decimal=',')
df_F = pd.read_csv('b-fi-v.csv', sep='|', encoding='cp1252', decimal=',')

In [12]:
df_C.dtypes

NUMERO            int64
TIPO             object
NUMERON           int64
CLIENTE          object
VRBRUTO          object
DESCONTO         object
VALORTROCA       object
DEVOLUCAO        object
VALORLIQUIDO     object
COMISSAO         object
COMISSAOEXTRA    object
VALORORIG        object
DREAL            object
dtype: object

In [13]:
df_F.dtypes

EMPRESA     int64
ESPECIE    object
SERIE      object
NUMERO      int64
PARCELA     int64
VALOR      object
dtype: object

In [22]:
dfc = pd.DataFrame()
dff = pd.DataFrame()

df_C['VALORLIQUIDO'] = [x.replace('.', '') for x in df_C['VALORLIQUIDO']]
df_C['VALORLIQUIDO'] = [x.replace(',', '.') for x in df_C['VALORLIQUIDO']]
df_C['VALORLIQUIDO'] = [x.replace(' ', '0') for x in df_C['VALORLIQUIDO']]
df_C['VALORLIQUIDO'] = df_C['VALORLIQUIDO'].astype(float)

df_F['VALOR'] = [x.replace('.', '') for x in df_F['VALOR']]
df_F['VALOR'] = [x.replace(',', '.') for x in df_F['VALOR']]
df_F['VALOR'] = [x.replace(' ', '0') for x in df_F['VALOR']]
df_F['VALOR'] = df_F['VALOR'].astype(float)

dfc['NUMERO'] = df_C['NUMERON']
dfc['VALOR'] = df_C['VALORLIQUIDO']

dff['NUMERO'] = df_F['NUMERO']
dff['VALOR'] = df_F['VALOR']

In [23]:
dataframe_difference(dfc, dff)

NameError: name 'dataframe_difference' is not defined

In [17]:
dff

     NUMERO    VALOR
0     59677   712.00
1    490871   115.04
2    490891   140.00
3    490849  2075.33
4    490851  1400.00
..      ...      ...
674  490947   100.00
675  490960  2520.00
676  490970   739.71
677  490961   118.32
678  490827   177.06

[679 rows x 2 columns]